@page
@model hippolidays.Pages.Requests.DeleteModel

@{
    ViewData["Title"] = "Cancel";
}

<h1>Cancel your Request</h1>

<h3>Are you sure you want to cancel this request?</h3>
<div>
    <h4>Request</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Request.Start_Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Request.Start_Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Request.End_Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Request.End_Date)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Request.Request_Id" />
        <input type="submit" value="Cancel" class="btn btn-danger" /> |
        <a asp-page="../Holidays">Back to holiday list</a>
    </form>
</div>
