@page
@model hippolidays.Pages.Requests.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>All Requests</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Request[0].Start_Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Request[0].End_Date)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Request) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Start_Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.End_Date)
            </td>
        </tr>
}
    </tbody>
</table>
