@page
@model hippolidays.Pages.CalendarModel
@{
}

<div class="text-center">

    <h1 class="display-4">
        Calendar
    </h1>

    <div class="container">
        @foreach (List<Dictionary<string, object>> week in Model.calendarList)
        {
            <div class="row">
                @foreach (Dictionary<string, object> date in week)
                {
                    <div class="col-sm block">@date["id"] @date["date"]</div>
                }
            </div>
         }
    </div>
</div>
