body {
}

.container {
    border: 1px solid rgba(132,180,191);
    margin: 8px;
}

.btn-toolbar {
    justify-content: center;
    padding-bottom: 8px;
    gap: 8px;
}

.block {
    height: 13vh;
    padding: 0;
    border: 1px solid rgba(132,180,191);
}

.not-in-month {
    background: rgba(236,237,237, 0.8);
}

.today {
    background: rgba(186,211,217,0.5);
}